
body {
  background: linear-gradient(135deg, #fdfbfb, #ebedff);
  font-family: Arial, Helvetica, sans-serif;
  color: #475569;
}

h1 {
  text-align: center;
  color: #f7f8f8;
 background: linear-gradient(80deg, #03d6f6 20%, #0206fe);
 border-radius: 10px;
 padding: 20px;
}

h3 {
  color: #334155;
  text-align: center;
}
h2{
	background: linear-gradient(80deg, #03d6f6, #fe02dc);
	padding: 20px;
	width: 40%;
	margin-left: 400px;
	border-radius: 20px;
	color: #334155;
}
.tables{
	align-items: center;
	border-radius: 20px;
	padding: 20px;
	
}
.song-card {
  border: 3px solid  rgb(0, 208, 255);
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(145deg, #ffffff, #f3f4ff);
  text-align: center;
  width: 240px;
  box-shadow: 0 12px 25px rgba(99, 102, 241, 0.15);
}

.song-card img {
  height: 200px;
  border-radius: 12px;
  padding: 8px;
  
}

audio {
  margin-top: 10px;
  width: 100%;
  accent-color: #6366f1;
  border:2px solid #03d6f6;
  border-radius: 30px;
}

.movie-poster {
  height: 350px;
  width: 200px;
  border-radius: 12px;
  margin-right: 20px;
  border: 3px solid  rgb(0, 208, 255);
  box-shadow: 0 12px 25px rgba(5, 9, 241, 0.15);
}

.movie-video {
  height: 350px;
  width: 620px;
  border-radius: 20px;
border: 3px solid  rgb(0, 208, 255);
box-shadow: 0 12px 25px rgba(5, 9, 241, 0.15);


}


p{
	background-color: gray;
	padding: 20px;
	border-radius: 20px;
	color: #334155;
	border-left: 5px solid brown;
}

mark{
	background-color: #03d6f6;
	color: #030335;
	padding: 3px;
	border-radius: 6px;
}